* {
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 100px;
}
.container .ring {
    position: relative;
    animation: animate 4s linear infinite;
    width: 150px;
    height: 150px;
    border: 4px solid#fff;
    border-radius: 50%;
    margin: -30px;
    border-top: 4px solid #24ecff;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.container .ring:nth-child(3) 
{
position: absolute;
top: -66.66px;
}
.container p {
    position: absolute;
    color: #fff;
    letter-spacing: 0.15em ;
    bottom: -80px;
}
.container .ring::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #24ecff;
    border-radius: 50%;
    top: 12px;
    right: 14px;
    box-shadow: 0 0 0 5px #24ecff33,
                0 0 0 10px #24ecff22,
                0 0 0 15px #013135;
               
}
.container .ring:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f700a4;
    border-radius: 50%;
    top: 12px;
    right: 14px;
    box-shadow: 0 0 0 5px #ff028dd7,
                0 0 0 10px #ca049f94,
                 0 0 0 15px #ee31c546;

}
.container .ring:nth-child(1) {
    position: relative;
    animation: animate 4s linear infinite;
    width: 150px;
    height: 150px;
    border: 4px solid#fff;
    border-radius: 50%;
    margin: -30px;
    border-top: 4px solid #f009d1;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    animation: anim 4s linear infinite;
}
@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ring:nth-child(3) {
    position: relative;
    animation: animate 4s linear infinite;
    width: 150px;
    height: 150px;
    border: 4px solid#fff;
    border-radius: 50%;
    margin: -30px;
    border-top: 4px solid #03f72c;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    animation: anim 4s linear infinite;
}
.container .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #00f70c;
    border-radius: 50%;
    top: 12px;
    right: 14px;
    box-shadow: 0 0 0 5px #01a52a,
                0 0 0 10px #04ca1585,
                0 0 0 15px #014b0785;
}

